body{
    background-color : black;
}

.line { 
    position : absolute;
    background-color:white;
}

.horizontal{
    height : 1px;
    width : 100%;
    top : 50%;
}
.vertical{
    height : 100%;
    width : 1px;
    left : 50%;
}
.position{
    position: fixed;
    padding:  20px;
    font-size: 20px;
    color: white;
}

.target{
    position: absolute;
    width: 60px;
    height : 60px;
    top :50%;
    left: 50%;
    transform : translate(-50%, -50%);
}